html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

/* Input styles */

td.span2 .input-block-level input {
  width: 109px;
}

.input-supermini {
  width: 30px;
}

input:invalid, textarea:invalid, select:invalid {
  border-color: #e9322d;
}

input:invalid + .add-on {
  color: #e9322d;
}

.single-row input, .single-row .input-append {
  margin-bottom: 0;
}

.assessments input[type=text], .assessments .input-append {
  margin-bottom: 0;
}

/* Disable spinner in numeric fields */
/* http://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-inputs-spin-box  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/* General styles */

.assessments {
  margin-bottom: 0;
}

.year {
  margin-bottom: 30px;
}

.module {
  margin-bottom: 10px;
}

.module-name {
  font-weight: bold;
  width: 380px;
}

#push, #footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
}

.credit {
  margin: 20px 0;
}