<!DOCTYPE html>
<html lang="en" ng-app="LocalStorageModule">
<head>
  <meta charset="utf8">
  <title>Degree Classification Calculator</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <script src="js/jquery-1.9.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/localStorageModule.js"></script>
  <script src="js/calculator.js"></script>
</head>
<body>
  <div id="wrap">
    <div class="container" ng-controller="CalculatorCtrl">
      <div class="page-header">
        <h1>Classification Calculator <small>for University of Sheffield degrees</small></h1>
      </div>
      <p class="lead">Calculate your final University of Sheffield degree classification by entering your module results.</p>
      <p>This tool can only be used for standard 3-year undergraduate degrees, and 4-year integrated Master's degrees (e.g. MEng, MComp) that don't include a year in industry or year abroad.</p>
      <p ng-show="savingAvailable()">
        Everything you enter will automatically be saved, so next time you visit this page your modules will still be here.
      </p>
      <p ng-show="!savingAvailable()">
        Your modules <strong>won't</strong> be saved if you browse away from this page, but if you visit this page in a more modern browser such as <a href="http://google.com/chrome">Google Chrome</a> or <a href="http://www.getfirefox.com">Mozilla Firefox</a>, then your changes will be saved automatically.
      </p>
      
      <hr />

      <section>
        <h2>1. How long is your degree?</h2>
        <label for="numYears3" class="radio">
          <input type="radio" name="numYears" value="3" id="numYears3" checked ng-model="degreeLength" />3 years
        </label>
        <label for="numYears4" class="radio">
          <input type="radio" name="numYears" value="4" id="numYears4" ng-model="degreeLength" />4 years (integrated Master's)
        </label>
      </section>

      <hr />

      <section>
        <button class="btn btn-small pull-right" ng-click="resetData()">Reset</button>
        <h2>2. Enter module results</h2>

        <ul class="unstyled">
          <li ng-repeat="year in years">
            <fieldset class="year">
              <legend>Year {{year.year}} <span class="pull-right">Overall {{ yearMark(year) | number:1 }}%</span></legend>

              <div class="module well well-small" ng-repeat="module in year.modules">
                <div class="controls-row" ng-class="{'single-row': module.isSingleRow}">
                  <input type="text" class="module-name" ng-model="module.name" class="input-xlarge" placeholder="Module name/code (optional)" />
                  <div class="input-append">
                    <input type="number" min="0" max="120" required ng-model="module.credits" class="input-mini" />
                    <span class="add-on">credits</span>
                  </div>
                  <span class="input-append input-mini" ng-show="module.isSingleRow">
                    <input type="number" class="input-mini" min="0" max="100" required ng-model="module.assessments[0].mark">
                    <span class="add-on">% mark</span>
                  </span>
                  <span class="input-append input-mini" ng-hide="module.isSingleRow">
                    <input type="text" class="input-mini" disabled value="{{moduleMark(module)}}" />
                    <span class="add-on">% mark</span>
                  </span>
                  <span class="pull-right">
                    <button ng-click="convertToMultiple(module)" class="btn btn-info btn-small" ng-show="module.isSingleRow">Add Assessments...</button>
                    <button ng-click="deleteModule(year, $index)" class="btn btn-danger btn-small"><i class="icon-trash icon-white"></i> Remove module</button>
                  </span>
                </div>
                <table class="table table-striped assessments" ng-hide="module.isSingleRow">
                  <thead>
                    <tr>
                      <th class="span6">Assessment Name</th>
                      <th class="span2">Weighting</th>
                      <th class="span2">Your Mark</th>
                      <th class="span2"></th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <td colspan="4">
                        <button class="btn btn-small" ng-click="addAssessment(module)"><i class="icon-plus"></i> Add assessment</button>
                        <span class="text-error" ng-show="totalWeight(module)!=100">Assessment weights don't add up to 100%</span>
                      </td>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr ng-repeat="assessment in module.assessments">
                      <td class="span6">
                        <input type="text" ng-model="assessment.name" class="input-block-level" placeholder="e.g. Exam" />
                      </td>
                      <td class="span2">
                        <div class="input-append input-block-level">
                          <input type="number" min="0" max="100" class="input-block-level" ng-model="assessment.weight" />
                          <span class="add-on">%</span>
                        </div>
                      </td>
                      <td class="span2">
                        <div class="input-append input-block-level">
                          <input type="number" min="0" max="100" class="input-block-level" ng-model="assessment.mark" />
                          <span class="add-on">%</span>
                        </div>
                      </td>
                      <td class="span2">
                        <button class="btn btn-small" title="Duplicate this assessment" ng-click="duplicateAssessment(module, $index)"><i class="icon-copy"></i></button>
                        <button class="btn btn-danger btn-small" title="Delete this assessment" ng-click="deleteAssessment(module, $index)"><i class="icon-trash icon-white"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div ng-show="creditsNeeded(year) > 0">
                <button class="btn btn-primary" ng-click="addModule($index)"><i class="icon-plus"></i> Add module</button>
                <span class="text-error">You need to add modules worth an extra {{creditsNeeded(year)}} credits to this year to reach the full 120 credits.</span>
              </div>
              <button ng-show="creditsNeeded(year) <= 0" class="btn" ng-click="addModule($index)"><i class="icon-plus"></i> Add module</button>
            </fieldset>
          </li>
        </ul>
      </section>
    </div>
    <div id="push"></div>
  </div>

  <div id="footer">
    <div class="container">
      <p class="muted credit">A weekend project by <a href="http://www.alexsilcock.net">Alex Silcock</a>, using <a href="http://angularjs.org">AngularJS</a>. Copyright &copy; 2013</p>
    </div>
  </div>
</body>
</html>