<!DOCTYPE html>
<html lang="en" ng-app="LocalStorageModule">
<head>
  <meta charset="utf8">
  <title>ClassifyMe - University of Sheffield degree classification calculator</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="description" content="Calculate your final University of Sheffield degree classification by entering your module results.">
  <meta name="author" content="Alex Silcock">
  <meta property="og:title" content="ClassifyMe - University of Sheffield degree classification calculator">
  <meta property="og:type" content="website">
  <meta property="og:description" content="Calculate your final University of Sheffield degree classification by entering your module results." />

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <script src="js/jquery-1.9.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/localStorageModule.js"></script>
  <script src="js/calculator.js"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-2011409-3']);
    _gaq.push(['_setDomainName', 'alexsilcock.net']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
  <div id="wrap">
    <div class="container" ng-controller="CalculatorCtrl">
      <div class="page-header">
        <h1>ClassifyMe <small>University of Sheffield degree classification calculator</small></h1>
      </div>
      <p class="lead">Calculate your final University of Sheffield degree classification by entering your module results.</p>
      <p>By entering your module results (or expected module results) below, you can find out what degree classification you should receive at Graduation. You can either enter the mark you got for whole modules, or you can enter the individual assessments that make up a module, if you don't have the full module result yet.</p>
      <p>This tool can only be used for standard 3-year undergraduate degrees, and 4-year integrated Master's degrees (e.g. MComp, MEng, MChem) that don't include a year in industry or year abroad (<a data-placement="bottom" data-trigger="hover" data-content="Courses that have a year in industry or a year abroad can differ between departments in how their classifications are calculated, making it difficult to make an accurate calculate that works for all departments." class="js-activate-popover">why?</a>). More information on how classifications are calculated for different degrees can be found <a href="http://www.shef.ac.uk/union/student-advice-centre/academic-university/university-issues-procedures/degree-classification.htm" target="_blank">on the Student Union website</a>. The calculator doesn't take into account failed modules, so if you expect to graduate with less than all of your credits then you will have to check with your department to find out what their rules are.</p>
      <p ng-show="savingAvailable()">
        Everything you enter will be <strong>automatically saved</strong>, so next time you visit this page everything you've entered will still be here.
      </p>
      <p ng-show="!savingAvailable()">
        Your modules <strong>won't</strong> be saved if you browse away from this page, but if you visit this page in a more modern browser such as <a href="http://google.com/chrome">Google Chrome</a> or <a href="http://www.getfirefox.com">Mozilla Firefox</a>, then your changes will be saved automatically.
      </p>

      <p class="text-error disclaimer">
        This calculator was written based on the <a href="http://www.shef.ac.uk/polopoly_fs/1.109994!/file/LeTS-guidance-new-methodology.pdf" target="_blank">"Degree Classification" guidelines</a> for Bachelor's degrees, which are published by the University. This calculator uses a weighting scheme where credits are worth double in Level 3 and Level 4, which is the case for most standard degrees - check with your department to be sure. While this tool has been tested, the author takes no responsibility for any inaccuracies in calculations.
      </p>

      <button class="btn btn-success btn-large" ng-hide="hasStarted" ng-click="begin()"><i class="icon-arrow-right"></i> Begin</button>
      
      <hr />
      
      <div ng-class="{'blur': !hasStarted}">
        
        <section>
          <h2>1. How long is your degree?</h2>
          <label for="numYears3" class="radio">
            <input type="radio" name="numYears" value="3" id="numYears3" checked ng-model="degreeLength" />3 years
          </label>
          <label for="numYears4" class="radio">
            <input type="radio" name="numYears" value="4" id="numYears4" ng-model="degreeLength" />4 years (integrated Master's)
          </label>
        </section>
        
        <hr />
        
        <section>
          <button class="btn btn-small pull-right" ng-click="resetData()">Reset</button>
          <h2>2. Enter module results</h2>
        
          <p>Your module results from previous academic years are available <a href="https://www.shef.ac.uk/exam-results/LDP/previous.html" target="_blank">on the University website</a>.</p>
        
          <ul class="unstyled">
            <li ng-repeat="year in years">
              <fieldset class="year">
                <legend>Year {{year.year}} <span class="pull-right" ng-show="totalCredits(year) == 120">Overall {{ yearMark(year) | number:1 }}%</span></legend>
        
                <div class="alert alert-info" ng-show="$index==years.length-1">
                  <strong>Don't know all of your module results?</strong> You can click "Add Assessments" for a module to enter your individual assignment/exam marks that you already know, and estimate how well you think you'll do at the rest.
                </div>
        
                <div class="module well well-small" ng-repeat="module in year.modules">
                  <div class="controls-row" ng-class="{'single-row': module.isSingleRow}">
                    <input type="text" class="module-name" ng-model="module.name" placeholder="Module name/code (optional)" />
                    <div class="input-append" title="Credits must be multiples of 5">
                      <input type="number" min="0" max="120" required ng-model="module.credits" ng-pattern="creditsRegex" class="input-supermini" />
                      <span class="add-on">credits</span>
                    </div>
                    <span class="input-append" ng-show="module.isSingleRow" ng-class="{'failed-module': module.assessments[0].mark < 40}" data-title="Failed module" data-trigger="manual" data-placement="top" data-content="Failing a module means it's down to the examiners to decide whether you should graduate with or without honours.">
                      <input type="number" class="input-supermini" min="0" max="100" required ng-model="module.assessments[0].mark" ng-pattern="integerRegex">
                      <span class="add-on">% mark</span>
                    </span>
                    <span class="input-append" ng-hide="module.isSingleRow" ng-class="{'failed-module': module.assessments[0].mark < 40}" data-title="Failed module" data-trigger="manual" data-placement="top" data-content="Failing a module means it's down to the examiners to decide whether you should graduate with or without honours.">
                      <input type="text" class="input-supermini" disabled value="{{moduleMark(module)}}" title="The mark for this module is calculated from the assessments that you enter below. Changing the marks for those assessments will update this overall percentage." />
                      <span class="add-on">% mark</span>
                    </span>
                    <span class="pull-right">
                      <button ng-click="convertToMultiple(module)" class="btn btn-info btn-small" ng-show="module.isSingleRow">Add Assessments...</button>
                      <button ng-click="deleteModule(year, $index)" class="btn btn-danger btn-small"><i class="icon-trash icon-white"></i> Remove module</button>
                    </span>
                  </div>
                  <table class="table table-striped assessments" ng-hide="module.isSingleRow">
                    <thead>
                      <tr>
                        <th class="span6">Assessment Name</th>
                        <th class="span2"><abbr title="What percentage of this module is each assessment worth?">Weighting</abbr></th>
                        <th class="span2">Your Mark</th>
                        <th class="span2"></th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <td colspan="4">
                          <button class="btn btn-small" ng-click="addAssessment(module)"><i class="icon-plus"></i> Add assessment</button>
                          <span class="text-error" ng-show="totalWeight(module)!=100">Assessment weights don't add up to 100%</span>
                        </td>
                      </tr>
                    </tfoot>
                    <tbody>
                      <tr ng-repeat="assessment in module.assessments">
                        <td class="span6">
                          <input type="text" ng-model="assessment.name" class="input-block-level" placeholder="e.g. Exam" />
                        </td>
                        <td class="span2">
                          <div class="input-append input-block-level">
                            <input type="number" min="0" max="100" step="any" required class="input-block-level" ng-model="assessment.weight" />
                            <span class="add-on">%</span>
                          </div>
                        </td>
                        <td class="span2">
                          <div class="input-append input-block-level">
                            <input type="number" min="0" max="100" step="any" required class="input-block-level" ng-model="assessment.mark" />
                            <span class="add-on">%</span>
                          </div>
                        </td>
                        <td class="span2">
                          <button class="btn btn-small" title="Duplicate this assessment" ng-click="duplicateAssessment(module, $index)"><i class="icon-copy"></i></button>
                          <button class="btn btn-danger btn-small" title="Delete this assessment" ng-click="deleteAssessment(module, $index)"><i class="icon-trash icon-white"></i></button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
        
                <div ng-show="creditsNeeded(year) > 0">
                  <button class="btn btn-primary" ng-click="addModule($index)"><i class="icon-plus"></i> Add module</button>
                  <span class="text-error">You need to add modules worth an extra {{creditsNeeded(year)}} credits to this year to reach the full 120 credits.</span>
                </div>
                <div>
                  <button ng-show="creditsNeeded(year) <= 0" class="btn" ng-click="addModule($index)"><i class="icon-plus"></i> Add module</button>
                  <span class="text-error" ng-show="creditsOver(year) > 0">Your modules total {{totalCredits(year)}} credits for this year; remove {{creditsOver(year)}} credits worth of modules to get to a total of 120 credits.</span>
                </div>
              </fieldset>
            </li>
          </ul>
        </section>
        
        <hr />
        
        <section>
          <h2>3. Calculate classification</h2>
          <div ng-show="classification!=null">
            <p>Based on the information you entered above, your degree classification should be:</p>
            <div class="classification">
              <div ng-show="classification.finalBandIncalculable" class="classification-info">
                <p>It was not possible to calculate your final classification, as the two bands that are used to calculate it are too different - your module weighted average score of {{ classification.weightedAverageGrade | number:1 }}%, which corresponds to the band {{ classification.weightedAverageGradeBand.name }}, and your grade distribution band of {{ classification.gradeDistributionBand.name }} are too far apart for them to be combined to form a final classification.</p>
                <p>In this situation, the Examiners will recommend a degree classification which, having regard to all the evidence before them, best reflects your overall performance.</p>
              </div>
              <div ng-hide="classification.finalBandIncalculable" class="classification-info">
                <strong>{{classification.finalBand.name}}</strong>
                <p ng-show="classification.combinedBand.isBorderline">
                  Your calculated classification was {{classification.combinedBand.name}}, but since it was borderline, the normal practice by the Examiners is to take your weighted average final year grade of {{ classification.weightedAverageFinalYearGrade | number:1 }}% into account to determine the final classification, which is what was done to produce the classification above.
                </p>
                <p>This final classification is calculated from the combination of your module weighted average score of {{ classification.weightedAverageGrade | number:1 }}%, which corresponds to the band {{ classification.weightedAverageGradeBand.name }}, and your grade distribution band of {{ classification.gradeDistributionBand.name }}.</p>
              </div>
              <p>
                <a href="" data-toggle="collapse" data-target="#grade-distribution">Show grade distribution</a>
              </p>
              <div id="grade-distribution" class="collapse">
                <p>Your grade distribution band is calculated by taking your median module score (all modules are converted into 5-credit units) and placing it in a band. The {{higherIndex+1}}th module score is then placed in a band in the same way as the median. If the {{higherIndex+1}}th score is in a higher band than the median, then your grade distribution band is the borderline band between the two bands.</p>
                <button class="btn btn-primary" ng-click="calculateClassification();saveLocalStorage()" ng-show="classification.allGrades==null">Calculate Distribution</button>
                <ol>
                  <li ng-repeat="grade in classification.allGrades" ng-class="{'is-past-grade-border': gradeDistributionBand(grade).name != gradeDistributionBand(classification.allGrades[$index-1]).name}">
                    <span class="pull-right grade-distribution-band">{{gradeDistributionBand(grade).name}}</span>
                    <span class="grade-distribution-grade" ng-class="{'median': $index==medianIndex, 'higher': $index==higherIndex}">{{grade}}<span class="median-description description js-activate-popover" data-container="body" data-placement="top" data-trigger="hover" data-content="This grade determines your grade distribution band, subject to the borderline check."><i class="icon-double-angle-left"></i> Median</span><span class="higher-description description js-activate-popover" data-container="body" data-placement="top" data-trigger="hover" data-content="If this grade is in a higher band than the median grade, then your grade distribution band is borderline with the band above the median one."><i class="icon-double-angle-left"></i> Borderline</span></li>
                </ol>
              </div>
            </div>
            <p>Everything you've entered on this page is <strong>automatically saved</strong>, so you can come back to this page later and you won't have to re-enter everything.</p>
          </div>
          <div ng-show="classification==null">
            <p>Please fully complete the form above to calculate your final classification.</p>
          </div>
        </section>
      </div>
    </div>
    <div id="push"></div>
  </div>

  <div id="footer">
    <div class="container">
      <p class="muted credit">A weekend project by <a href="http://www.alexsilcock.net">Alex Silcock</a>, using <a href="http://angularjs.org">AngularJS</a>. Copyright &copy; 2013</p>
    </div>
  </div>
</body>
</html>